.camp-main-image{
	img{
		width:100%;
	}
}
	.camp-teaser-wrapper{
		margin-top:20px;
	}
		.camp-teaser-block{
			text-align:center;
			max-width:220px;
			margin-left:auto;
			margin-right:auto;
		}
			.camp-tease-icon{
				margin-bottom:20px;
				span{
					width:120px;
					height:120px;
					background-color:$Xltgrey;
					color:#333333;
					display:inline-block;
					font-size:30px;
					line-height:120px;
					@include border-radius(100%);
				}
			}
			
	.camp-nav{
		ul{
			padding:0;
			margin:0 0 40px;
			text-align:center;
			li{
				list-style:none;
				float:left;
				width:25%;
				a{
					color:$dkblue;
					text-decoration:none;
					font-size:$font-size-xxxl;
					&:hover,
					&:focus{
						color:$blue;
					}
				}
			}
		}
		.camp-nav-image{
			img{
				width:100%;
			}
		}
	}
	.camp-download{
		.camp-download-block{
			text-decoration:none;
			color:$nevyblue;
			text-align:center;
			display:block;
			h4{
				margin-top:0;
				margin-bottom:10px;
			}
			p{
				margin-bottom:15px;
			}
			span{
				font-size:26px;
			}
		}
	}
	.section-block{
		&.camp-share{
			padding-top:0;
		}
	}
	.camp-thumb{
		position:relative;
		img{
			width:100%;
		}
		.caption{
			position:absolute;
			left:20px;
			right:20px;
			bottom:20px;
		}
	}
	
	.camp-feed{
		padding-bottom:50px;
		.feed-block{
			height:500px;
			width:1%;
			display:table-cell;
			vertical-align:middle;
			text-align:center;
			font-size:$font-size-xxxl;
		}
		span{
			display:inline-block;
		}
	}

@media (max-width: $screen-xs-max){
	.section-block{
		&.camp-teaser{
			padding-bottom:26px;
		}
	}
	.camp-teaser-block{
		margin-bottom:40px;
	}
	.camp-nav{
		ul{
			li{
				width:100%;
				+li{
					margin-top:15px;
				}
			}
		}
	}
	.section-block{
		&.camp-download{
			padding-bottom:26px;
			.section-title{
				margin-bottom:30px;
			}
		}
	}
	.camp-download{
		.camp-download-block{
			margin-bottom:40px;
		}
	}
	
	.section-block{
		&.camp-share{
			.section-title{
				margin-bottom:30px;
			}
		}
	}
	.camp-thumb{
		.caption{
			left:10px;
			right:10px;
			bottom:10px;
			.btn{
				padding:6px 14px;
				font-size:14px;
			}
		}
	}
	.camp-feed{
		.feed-block{
			height:auto;
			padding:50px 0;
			display:block;
			width:100%;
			margin-bottom:30px;
		}
	}
}