@font-face {
    font-family: 'museo_sans300';
    src: url('../fonts/museosans-300-webfont-webfont.eot');
    src: url('../fonts/museosans-300-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosans-300-webfont-webfont.woff2') format('woff2'),
         url('../fonts/museosans-300-webfont-webfont.woff') format('woff'),
         url('../fonts/museosans-300-webfont-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'museo_sans500';
    src: url('../fonts/museosans-500-webfont.eot');
    src: url('../fonts/museosans-500-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosans-500-webfont.woff2') format('woff2'),
         url('../fonts/museosans-500-webfont.woff') format('woff'),
         url('../fonts/museosans-500-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'museo_sans_rounded100';
    src: url('../fonts/museosansrounded-100-webfont.eot');
    src: url('../fonts/museosansrounded-100-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosansrounded-100-webfont.woff2') format('woff2'),
         url('../fonts/museosansrounded-100-webfont.woff') format('woff'),
         url('../fonts/museosansrounded-100-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'museo_sans_rounded300';
    src: url('../fonts/museosansrounded-300-webfont.eot');
    src: url('../fonts/museosansrounded-300-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosansrounded-300-webfont.woff2') format('woff2'),
         url('../fonts/museosansrounded-300-webfont.woff') format('woff'),
         url('../fonts/museosansrounded-300-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'museo_sans_rounded500';
    src: url('../fonts/museosansrounded-500-webfont.eot');
    src: url('../fonts/museosansrounded-500-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosansrounded-500-webfont.woff2') format('woff2'),
         url('../fonts/museosansrounded-500-webfont.woff') format('woff'),
         url('../fonts/museosansrounded-500-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'museo_sans_rounded700';
    src: url('../fonts/museosansrounded-700-webfont.eot');
    src: url('../fonts/museosansrounded-700-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosansrounded-700-webfont.woff2') format('woff2'),
         url('../fonts/museosansrounded-700-webfont.woff') format('woff'),
         url('../fonts/museosansrounded-700-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'brandon_grotesquelight';
    src: url('../brandon_light-webfont.eot');
    src: url('../brandon_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../brandon_light-webfont.woff2') format('woff2'),
         url('../brandon_light-webfont.woff') format('woff'),
         url('../brandon_light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}